In [12]:
import pandas as pd
import config
import numpy as np
import requests
import json
import glob

In [13]:
path =r'../Resources/' 
allFiles = glob.glob(path + "/*.csv")

#all files 
list_df = []
for file in allFiles:
    df = pd.read_csv(file,index_col=None, header=0)
    list_df.append(df)

In [14]:
#getting data
final_df = pd.merge(list_df[0], list_df[1], on = "DATE")

for i in range(2,9):
    final_df = pd.merge(final_df, list_df[i], on = "DATE")
del final_df["DATE"]
dates = pd.date_range('2009-04-01','2012-05-01', freq='1M')- pd.offsets.MonthBegin(1)
final_df.index = dates
final_df.head()

,CUURA423SAF,CUURA102SAF,CUURA421SAF,CUURA319SAF,CUURA101SAF,CUURA422SAF,CUURA103SAF,CUURA320SAF,CUURA318SAF
2009-04-01,230.688,208.163,223.638,219.705,227.956,228.545,NaN,227.129,200.662
2009-05-01,.,.,223.850,.,227.592,.,228.812,.,.
2009-06-01,230.551,205.99,223.129,218.054,227.801,228.653,.,224.851,199.377
2009-07-01,.,.,222.367,.,226.852,.,227.91,.,.
2009-08-01,229.299,205.367,221.810,218.866,226.620,227.744,.,225.401,198.946

In [4]:
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
# Create Engine and Pass in MySQL Connection                
MySQL_root_PW = config.password
MySQL_db = 'ETL'
engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)

In [9]:
final_df.to_sql("Food", 
                  con = engine, 
                  index = True, 
                  if_exists='replace')

C:\Users\jwoh1\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'Food' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)