In [1]:
import pandas as pd
import config
import numpy as np
import requests
import json
import glob

In [2]:
path =r'../Resources/' 
allFiles = glob.glob(path + "/*.csv")


list_df = []
for file in allFiles:
    df = pd.read_csv(file,index_col=None, header=0)
    list_df.append(df)
    
allFiles

['../Resources\\CUURA101SAF.csv',
 '../Resources\\CUURA102SAF.csv',
 '../Resources\\CUURA103SAF.csv',
 '../Resources\\CUURA318SAF.csv',
 '../Resources\\CUURA319SAF.csv',
 '../Resources\\CUURA320SAF.csv',
 '../Resources\\CUURA421SAF.csv',
 '../Resources\\CUURA422SAF.csv',
 '../Resources\\CUURA423SAF.csv']

In [3]:
final_df = pd.merge(list_df[0], list_df[1], on = "DATE")

for i in range(2,9):
    final_df = pd.merge(final_df, list_df[i], on = "DATE")
del final_df["DATE"]
dates = pd.date_range('2009-04-01','2012-05-01', freq='1M')- pd.offsets.MonthBegin(1)
final_df.index = dates
final_df.head()

,CUURA101SAF,CUURA102SAF,CUURA103SAF,CUURA318SAF,CUURA319SAF,CUURA320SAF,CUURA421SAF,CUURA422SAF,CUURA423SAF
2009-04-01,227.956,208.163,NaN,200.662,219.705,227.129,223.638,228.545,230.688
2009-05-01,227.592,.,228.812,.,.,.,223.850,.,.
2009-06-01,227.801,205.99,.,199.377,218.054,224.851,223.129,228.653,230.551
2009-07-01,226.852,.,227.91,.,.,.,222.367,.,.
2009-08-01,226.620,205.367,.,198.946,218.866,225.401,221.810,227.744,229.299

In [7]:
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [8]:
# Create Engine and Pass in MySQL Connection                
MySQL_root_PW = config.password
MySQL_db = 'ETL'
engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)

In [9]:
final_df.to_sql("Food", 
                  con = engine, 
                  index = True, 
                  if_exists='replace')

C:\Users\jwoh1\Anaconda3\lib\site-packages\pandas\io\sql.py:1144: UserWarning: The provided table name 'Food' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)